body {
    width: 500px; /* Adjusted width */
    height: 300px; /* Adjusted height */
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#mainButtons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 15px 30px; /* Larger button size */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#sendScore {
    background-color: #ff9800; /* Different color for send score button */
}

button:hover {
    opacity: 0.8;
}

#scoreDisplay {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#scoreBox, #relScoreBox, #gameNameBox {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 100px; /* Smaller boxes for scores */
    text-align: center;
}

#gameNameBox {
    grid-column: span 2; /* Make the game name box wider */
}

#userIdSection {
    align-self: flex-end;
}

#userIdInputSection, #changeUserId, #userIdPrompt {
    margin: 10px; /* Adjusted margin */
}

input[type="text"] {
    width: calc(100% - 22px); /* Adjust input width */
}