body {
    width: 350px;
    height: 100px;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
  
  /* Container styles */
  #userIdInputSection {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 40px auto;
  }
  
  /* Input and button styles */
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
  }
  
  button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  /* Score section styles */
  #score {
    font-size: 24px;
    font-weight: bold;
    color: #666;
    margin: 10px;
  }
  
  /* Button layout */
  button[id="getScore"], button[id="sendScore"] {
    margin: 20px;
  }
  
  /* Change User ID button styles */
  button[id="changeUserId"] {
    background-color: #ff9800;
    margin: 20px;
    float: right;
  }
  button[id="saveUserId"]{
    margin-top: 20px;
  }
